/* 
## Colors

### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Weights: 400, 700 */

@font-face {
  font-family: 'Josefin Sans';
  src: url(../fonts/JosefinSans-VariableFont_wght.ttf) format('truetype');
}

:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans';
  font-size: 1.8rem;
  font-weight: 400;

  position: relative;
}

.todo {
  display: flex;
  justify-content: center;
  padding-top: 9rem; /* #f00 */
  height: 100vh;
}

.todo__bachgroung {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.todo__backgroung-img {
  width: 100vw;
  height: 30rem;
  object-fit: cover;

  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.container {
  width: 80rem;
}

.todo__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 4rem;
}

.todo__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 14px;
}

.todo__theme-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;

  transition: all 0.3s;
}

.todo__theme-btn:hover {
  transform: scale(1.1);
}

.todo__theme-icon {
  width: 3rem;
  height: 3rem;
}

.todo__list-item {
  background-color: #fff;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__input-wrapper {
  margin-bottom: 2.5rem;
  border-radius: 0.5rem;

  justify-content: start;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.todo__input-circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid hsl(233, 11%, 84%);
}

.todo__input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin-left: 2rem;
  width: 80%;
  border: none;
  outline: none;
}

.todo__list {
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.todo__list .todo__list-item {
  border-bottom: 1px solid hsl(233, 11%, 84%);
}

.todo__content-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.todo__item-circle {
  width: 3rem;
  height: 3rem;
  border: 2px solid hsl(233, 11%, 84%);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__content-wrapper::before {
  content: '';
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.todo__item-circle:hover {
  border-color: transparent;
  transform: scale(0.87);
}

.todo__item-circle-img {
  width: 1.4rem;
  height: 1.4rem;
}

.todo__item-content {
  cursor: pointer;
}

.todo__item-close {
  background-color: #fff;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;

  transition: all 0.3s;
}

.todo__list-item:hover .todo__item-close {
  transition-delay: 0.2s;
  opacity: 1;
  visibility: visible;
}

.todo__close-img {
  width: 1.6rem;
  height: 1.6rem;
}

/* CHECKED */

.todo__item--checked .todo__item-circle {
  background-color: transparent;
  border: none;
}

.todo__item--checked .todo__item-content {
  opacity: 0.6;
  text-decoration: line-through;
}

.todo__list-end {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(236, 9%, 61%);
  font-size: 1.4rem;
}

.todo__reminde-number {
}

.todo__list-buttons {
  display: flex;
  gap: 1rem;
}

.todo__btn {
  font-size: 1.5rem;
  font-weight: 700;
}

.todo__all-btn {
  background-color: inherit;
  font-family: inherit;
  border: none;
  color: hsl(235, 19%, 35%);
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: capitalize;
}

.todo__all-btn:hover {
  opacity: 1;
}

.todo__btn--active {
  color: hsl(220, 98%, 61%);
  opacity: 0.95;
}

.todo__clear-btn {
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
